{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FP&#128062;</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Fundación Patitas&#128062;</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <li class="nav-item">
                    <a id="bottom" class="nav-link" href="{% url 'menu' %}">Gatitos Disponibles</a>
                </li>
                {% if perms.aplicacion.add_permission %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "adPedidos" %}">Administrar</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cuarto' %}">Quiénes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tercero' %}">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'formulario' %}">Da un gato en adopcion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'carro' %}">Accesorio de mascotas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ver_pedidos' %}">Mis pedidos</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-bg-primary" href="">{{user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bg-primary" href="{% url 'salir' %}">Cerrar Sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-bg-primary" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}                 
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container">
        <div class="container d-flex justify-content-center content-container">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text"><p>&iexcl;Gracias por abrir tu corazón y hogar a uno de nuestros adorables felinos! 
                        Con tu generosidad estás cambiando vidas brindando un hogar seguro y amoroso a un gato necesitado. Cada adopcion
                          no solo significa una nueva oportunidad para nuestros gatitos, sino tambien para ti,
                           ya que descubrir el amor incondicional y la alegriaa que solo un compañero felino puede ofrecer.
                            Juntos estamos creando un mundo mas compasivo y lleno de ronroneos.
                            Gracias por ser parte de nuestra mision de salvar vidas felinas!</p></p>
                </div>
    </div>
    <style>
        body {
           
            background-image: url('{% static "aplicacion/img/foto111.jpeg" %}');
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
        }
        </style>
        <footer class="bg-dark text-light text-center py-3 fixed-bottom">
            <p>&copy; 2024 Fundación Patitas&#128062;</p>
        </footer>

    
</body>
</html>